env/
demo/*
!demo/*.c

# Decision files
*.log
*.json

# Demo files
/user_tool/process-supervisor/
/user_tool/process-supervisor/* 

user_tool/__pycache__
user_tool/__pycache__/*

user_tool/.coverage
user_tool/.coverage*
user_tool/htmlcov
user_tool/htmlcov/*